.tablist {
  display: flex;
  flex-direction: row;

  .tab {
    font-size: 1rem;
    padding: 0px 20px 2px;
    height: 44px;
    border-bottom: 2px solid var(--c-grey-3);
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 2px 2px 0 0;

    &:hover {
      background: var(--c-blue-3);
      color: var(--c-blue-1);
    }

    &.active {
      background: var(--c-blue-3);
      color: var(--c-blue-1);
      border-bottom-color: var(--c-blue-1);
    }
  }
}

@media only screen and (min-width: 640px) {
  .tablist {
    flex-direction: column;

    .tab {
      border: none;
      border-left: 2px solid var(--c-grey-3);
      border-radius: 0 2px 2px 0;
    }

    .active {
      background: var(--c-blue-3);
      color: var(--c-blue-1);
      border-left-color: var(--c-blue-1);
    }
  }

  .contentwrapper {
    padding: 0;
    padding-left: 30px;
  }

  .role {
    line-height: 1;
  }
}
