.btn {
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.btn-blue {
  background: var(--c-blue-1);
  color: white;
}

.btn-blue:hover {
  background: var(--c-blue-2);
}

.btn-outline-blue {
  border: 1px solid var(--c-blue-1);
  color: var(--c-blue-1);
  transition: background 0.25s ease-in 0.15s;
  border-radius: 2px;
}

.btn-outline-blue:hover {
  background: rgba(0, 105, 217, 0.2);
}

.btn-main {
  color: white;
  background: #000;
  padding: 11px 18px;
  transition: background 0.25s ease-in 0.15s;
  position: relative;

  &:before {
    background: var(--c-blue-1);
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.35s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  }

  &:hover {
    background: var(--c-blue-1);
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}
