.container {
  background: white;
  max-width: 1000px;
  margin: 0 auto;
}

#aboutlist {
  columns: 2;
}

.aboutcontainer {
  display: flex;
  justify-content: space-between;
}

.abouttext {
  max-width: 550px;
}

.imagecontainer {
  display: none;
  margin-left: 60px;
  width: 40%;

  img {
    object-fit: cover;
    object-position: 50% 50%;
    max-width: 300px;
  }
}

@media only screen and (min-width: 820px) {
  .imagecontainer {
    display: block;
  }

  .abouttext {
    width: 60%;
  }
}
