#about {
  background: #fff;
}

.profilepic {
  border-radius: 2px;
  background-image: url('../public/static/images/profile-pic.jpg');
  background-size: cover;
  background-position: top center;
  display: none;
  width: 650px;
  filter: grayscale(80%);
}

#aboutlist {
  columns: 2;
}

.aboutlayout {
  display: block;
}

@media only screen and (min-width: 550px) {
  #aboutlist {
    width: 80%;
  }

  .aboutlayout {
    display: flex;
  }
}

@media only screen and (min-width: 760px) {
  .profilepic {
    display: block;
  }
}
