.masthead {
  height: calc(100vh - 64px);
  position: relative;
  width: 100%;
}

.title {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @apply text-c-white;
  text-align: center;
}

.title h1 {
  font-size: 2.2rem;
  font-weight: 700;
}

.header {
  padding: 1.25rem 2.5rem;
  @apply h-16 w-full sticky top-0 flex justify-between items-center text-white;
}

.masthead__group {
  color: black;
  font-weight: 700;
  font-size: 10.5rem;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 0.9;
  text-align: center;
}
