.header {
  padding: 1.25rem 2.5rem;
  position: absolute;
  @apply h-16 w-full top-0 flex justify-between items-center text-white;
}

.intro {
  @apply text-c-dark-2;
  font-size: 11.6rem;
  font-weight: 700;
  left: 50%;
  line-height: 0.9;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.intro__hi {
  white-space: nowrap;
}

.title {
  @apply text-c-white;
  font-size: 3.25rem;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title h1 {
  line-height: 0.9;
}
